.carousel-inner>.item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out !important;
    -o-transition: -o-transform 0.6s ease-in-out !important;
    transition: transform 0.6s ease-in-out !important;
    }

    #d1{
        transition: 0.3s ease-in-out;
    }
    #d1:hover{
        
        transform: scale(1.2);
    }